<div>
    <form>
        <label for="user-neame">Username:</label>
        <input type="text" id="user-name"/>
        <label for="user-password">Password:</label>
        <input type="text" id="user-password"/>
    </form>
    <p>Not a user?</p>
    <a href="/signup">Click to sign up!</a>
</div>
<script src="/js/login.js"></script>